<div mat-dialog-content class="body">
	<p class="oz-icon"><i class="fal fa-exclamation-circle"></i></p>
  <p class="oz-text oz-red-text">{{data.message}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{'დახურვა'}}</button>
  <!-- <button [ngClass]="data.submitButtonColor === 'red'? 'oz-red-text oz-submit-button': ''" mat-button (click)="onYesClick()" cdkFocusInitial>{{data.submitText}}</button> -->
</div>