.oz-red-text {
	color: #f44337;
}

.body {
	font-size: 18px;
	height: 65px;
}

.body p{
	display: inline;
}

.oz-icon {
	font-size: 25px;
	margin-right: 10px;
}

.oz-text {
	position: relative;
	top: -3px;
}

.mat-dialog-actions {
	float: right;
}

.oz-submit-button {
	padding: 0 60px;
}