<h1 mat-dialog-title class="centered">Somebody is calling...</h1>
<div mat-dialog-actions class="centered">
  <button mat-button (click)="onNoClick()" class="decline-button">
      <i class="fas fa-phone-slash"></i>
  </button>

  <button mat-button (click)="onYesClick()" class="answer-button">
      <i class="fas fa-phone-square"></i>
  </button>
</div>