.video-call-dialog-content {
  height: 600px;
}

.centered {
  text-align: center;
}

.decline-button {
  border: none;
  background: none;
  color: red;
  font-size: 35px;
  outline: none;
  cursor: pointer;
}