<h1 mat-dialog-title class="centered">Video Call</h1>
<div mat-dialog-content class="video-call-dialog-content centered">
  
    <video #myvideo></video>

</div>
<div mat-dialog-actions class="centered">
  <button mat-button (click)="onNoClick()" class="decline-button">
      <i class="fas fa-phone-slash"></i>
  </button>
</div>