<div class="container-fluid oz-margin-top">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <!-- <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span> </div>
          </div>
        </div> -->
        <div class="inbox_chat">

          <ng-container *ngFor="let contact of contacts">
            <div class="chat_list" [ngClass]="contact.active? 'active_chat': ''" (click)="contactClickHandler(contact)">
              <div class="chat_people">
                <div class="chat_img"> <img [src]="contact.profileImage" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5> {{contact.firstName}} {{contact.lastName}} <span
                      class="chat_date">{{contact.lastMessage | date: 'shortDate'}}</span></h5>
                  <p>{{contact.email}}</p>
                </div>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
      <div class="mesgs" *ngIf="getActiveContact()">
        <div class="msg_history" #scrollableMessages>
          <ng-container *ngIf="getActiveContact()?.chat">
            <ng-container *ngFor="let message of getActiveContact()?.chat?.messages">

              <div class="incoming_msg" *ngIf="isMessageIncomming(message)">
                <div class="incoming_msg_img">
                  <img [src]="getMessageSender(message)?.profileImage" alt="sunil">
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{message.text}}</p>
                    <span class="time_date"> {{message.createdAt | date: 'medium'}} </span>
                  </div>
                </div>
              </div>

              <div class="outgoing_msg" *ngIf="isMessageOutgoing(message)">
                <div class="sent_msg">
                  <p>{{message.text}}</p>
                  <span class="time_date"> {{message.createdAt | date: 'medium'}}</span>
                </div>
              </div>

            </ng-container>
          </ng-container>

        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <form #sendForm="ngForm">
              <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="sendBoxModel"
                name="sendBoxModel" required autocomplete="off" />
              <button class="msg_send_btn" type="submit" (click)="sendMessage()" [disabled]="!sendForm.valid">
                <i class="far fa-paper-plane"></i>
              </button>

              <button class="call_btn" type="submit" (click)="videoCall()">
                  <i class="fas fa-phone-volume"></i>
                </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>