<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/login']">ჩატერი</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/user/home']">მთავარი <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/user/chat']">ჩატი <span class="sr-only"></span></a>
      </li>
      
    </ul>

    <!-- form-inline my-2 my-lg-0 -->
    
    <ul class="navbar-nav my-2 my-lg-0">

      <li class="nav-item active">
          <a class="menu-item pointer" (click)="logOutClickHandler()">
              <i [ngClass]="'fal fa-sign-out'"></i> გამოსვლა
            </a>
      </li>
      
    </ul>

  </div>
</nav>