<section>
  <div class="container">
    <div class="row registration-row">
        <div class="col-md-12" *ngIf="errorMessage">
            <div class="alert alert-danger">
                <strong>ყურადღება!</strong> 
                {{errorMessage}}
            </div>
        </div>
    </div>
    <form class="example-form" #registrationForm="ngForm">
      <div class="row registration-row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="სახელი (ქართულად)" [(ngModel)]="userModel.firstName" 
                   name="firstNameGeo" 
                   GeoInputDirective
                   autocomplete="off"
                   required>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="გვარი (ქართულად)" [(ngModel)]="userModel.lastName" 
                   name="lastName"
                   GeoInputDirective
                   autocomplete="off"
                   required>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-select placeholder="სქესი"  [(ngModel)]="userModel.gender" 
                        name="gender"
                        autocomplete="off"
                        required>
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{gender.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">

            <input matInput [matDatepicker]="birthDayPicker" placeholder="დაბადების თარიღი" [(ngModel)]="userModel.birthDate" 
                   name="birthDate"
                   autocomplete="off"
                   required>
            <mat-datepicker-toggle matSuffix [for]="birthDayPicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDayPicker></mat-datepicker>

          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field class="full-width">
            <input matInput placeholder="ელ. ფოსტა" 
                   [(ngModel)]="userModel.email"
                   name="email"
                   autocomplete="off"
                   pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                   required>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="პაროლი" [(ngModel)]="userModel.password" 
                   name="password"
                   autocomplete="off"
                   required>
          </mat-form-field>
        </div>
        
      </div>

      <div class="row registration-row">
        <div class="col-md-12">
            <button 
                class="right register-button" 
                [disabled]="!registrationForm.valid" 
                mat-raised-button color="primary"
                (click)="registerUser()">რეგისტრაცია</button>
        </div>
      </div>

    </form>

  </div>
</section>