.registration-row {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
}

.right {
  float: right;
}

.register-button {
  width: 35%;
  font-size: 20px;
  height: 45px;
}

.center-checkbox {
  margin-top: 20px;
}

button[disabled] {
  cursor: not-allowed;
}